snippet satori "Satori template" b
#include <iostream>
using namespace std;

int main() {
	ios_base::sync_with_stdio(false);
	cin.tie(NULL);
	cout.tie(NULL);

	int z;
	cin>>z;
	while (z--) {
		$0
	}

	return 0;
}
endsnippet

snippet contest "Contest template" b
#include <bits/stdc++.h>
using namespace std;

#define all(a) (a).begin(), (a).end()

typedef long long ll;
typedef vector<int> vi;
typedef vector<long long> vll;
typedef pair<int,int> pii;

int main() {
	ios_base::sync_with_stdio(false);
	cin.tie(NULL);
	cout.tie(NULL);

	$0

	return 0;
}
endsnippet
