snippet template "Satori template" b
#include <iostream>
using namespace std;

int main() {
	ios_base::sync_with_stdio(false);
	cin.tie(NULL);
	cout.tie(NULL);

	int z;
	cin>>z;
	while (z--) {
		$0
	}

	return 0;
}
endsnippet
